<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="homeStyle.css">
</head>
<body>
<div class="admin">
    <a href="/panel-administratora"><h3>Panel administratora</h3></a>
</div>
<header>
    <div class="background">
        <h1>Witaj!</h1>
        <p>Zapraszamy do skorzystania z usług naszej strony internetowej! Dzięki niej będziesz w stanie lepiej zarządzać
            swoją firmą i pracownikami. Pomoże Ci w rozwoju firmy oraz odpowiednim nagradzaniu pracowników!</p>
    </div>
</header>
</body>
</html>